:root {
	--primary-bg-color: rgb(60, 60, 60);
	--primary-color: #eeeeee;
}

body {
	background-color: var(--primary-bg-color);
	font-family: Arial, Helvetica, sans-serif;
}

span {
	color: var(--primary-color);
}

h1{
	color:white;
	padding: 0.5rem;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}



.sollwerte {
	display: grid;
	grid-template-columns: 30rem 7rem 3rem 7rem 3rem;	
}

	.sollwerte > * {
		padding: 0.5rem;
		margin: 1px 0px;
		font-size: 1.2em;
	}

	.sollwerte div {
		background-color: grey;
	}

	.sollwerte label {
		background-color: lightgrey;
		color: black;
	}

	.sollwerte input + span {
		background-color: white;
		color: black;
	}

	.sollwerte input:disabled + span {
		background-color: black;
		color: white;		
	}

	.sollwerte input:disabled {
		background-color: black;
		color: white;
	}

	.sollwerte input:enabled {
		background-color: white;
		color: black;
	}

	.sollwerte input {
		text-align: right;
		border: 0px solid grey;
	}

.alert {
	position: relative;
	background-color: lightcoral;
	color: black;
	opacity: 0.7;
}

	.alert h3 {
		padding: 0.5rem;
		font-weight: bold;
	}

	.alert p {
		padding: 0.5rem;
	}

	.alert span {
		position: absolute;
		top: 1px;
		right: 5px;
		padding: 0.5rem;
	}

		.alert span:hover {
			cursor: pointer;
			background-color: white;
		}

.success {
	background-color: lightgreen;
	padding: 0.5rem;
	font-weight: bold;
}
.info {
	background-color: lightblue;
	padding: 0.5rem;
	font-weight: bold;
}
.warning {
	background-color: lightyellow;
	padding: 0.5rem;
	font-weight: bold;
}

	
