body {
	background-color: rgb(60, 60, 60);
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	color:white;
	padding: 0.5rem;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

input:disabled {
	background-color: black;
	color: white;
}

input:enabled {
	background-color: white;
	color: black;
}

.sollwerte {
	display: grid;
	grid-template-columns: 30% 5rem 2rem 5rem 2rem;
}

	.sollwerte label {
		background-color: lightgrey;
		color: black;
		font-size: 1em;
		padding: 0rem 0.5rem;		
	}

	.sollwerte span {
		background-color: lightgrey;
	}

	.sollwerte input {
		font-size: 1.2em;
		text-align: right;		
		border: 1px solid grey;
	}

